.elementVariable{
    background-color: rgba(255, 0, 0, 0.518);
}
.tarnary{
    background-color: skyblue;
}
.andAnd{
    background-color: rgba(0, 0, 255, 0.386);
}
.orOr{
    background-color: bisque;
}