.grandpa{
    border: 2px solid gold;
    padding: 10px;
    margin: 10px 30px;
    border-radius: 10px;
}
.grandpa-child{
    border: 2px solid gold;
    display: flex;
    border-radius: 10px;
    gap: 20px;
    margin-top: 20px;
}